In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from itertools import permutations
from itertools import chain

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
896,tt0253754,60000000,67312826,Star Trek: Nemesis,Patrick Stewart|Jonathan Frakes|LeVar Burton|B...,Stuart Baird,A generation's final journey... begins.,En route to the honeymoon of William Riker to ...,117,Science Fiction|Action|Adventure|Thriller,Paramount Pictures,12/12/2002,6.1,2002
784,tt0479997,40000000,88100000,Season of the Witch,Nicolas Cage|Ron Perlman|Ulrich Thomsen|Christ...,Dominic Sena,Not all souls can be saved.,A 14th century Crusader (Cage) returns with hi...,95,Adventure|Fantasy|Action,Atlas Entertainment|Relativity Media,1/7/2011,5.2,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
1653,tt0338325,20000000,16605763,Paparazzi,Cole Hauser|Robin Tunney|Dennis Farina|Daniel ...,Paul Abascal,One good shot deserves another.,A rising Hollywood actor decides to take perso...,84,Action|Drama|Thriller,20th Century Fox,9/3/2004,5.9,2004
1570,tt0343660,75000000,196482882,50 First Dates,Adam Sandler|Drew Barrymore|Rob Schneider|Sean...,Peter Segal,Imagine having to win over the girl of your dr...,Henry is a player skilled at seducing women. B...,99,Comedy|Romance,Columbia Pictures Corporation|Happy Madison Pr...,2/13/2004,6.5,2004

In [113]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [114]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
profit = data['revenue'] - data['budget'] # добавляем пеменную profit
data['profit'] = data['revenue'] - data['budget'] # добавляем столбец profit

#the time given in the dataset is in string format.
#So we need to change this in datetime format
from datetime import date
from datetime import time
from datetime import datetime
data['release_date'] = pd.to_datetime(data['release_date'])

# Добавим функцию fun_explode, т.к. часто ее используем в ответах.
# Функция принимает на вход датафрейм и название колонки.
# Далее происходит разделение текста в ячейках в этой колонке по вертикальной черте '|'
# Далее мы растягиваем датафрейм по значениям из полученного списка.
def fun_explode(df, col):
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    return df # возвращаем исправленный датафрейм

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [115]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [116]:
data_1 = data.copy()
data_1[data_1.budget == data_1.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [117]:
answers['2'] = '1157. Gods and Generals (tt0279111)'
# +

In [118]:
data_2 = data.copy()
data_2[data_2.runtime == data_2.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [119]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
# +

In [120]:
data_3 = data.copy()
data_3[data_3.runtime == data_3.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [121]:
answers['4'] = '110'
# +

In [122]:
data_4 = data.copy()
data_4.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [123]:
answers['5'] = '107'
# +

In [124]:
data_5 = data.copy()
data_5.runtime.mean()

109.6585494970884

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [125]:
answers['6'] = '239. Avatar (tt0499549)'
# +

In [126]:
# находим строку, соответствующую наибольшему значению profit в нашем файле
data_6 = data.copy()
data_6[profit == profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [127]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
# +

In [128]:
# находим строку, соответствующую наименьшему значению profit в нашем файле
data_7 = data.copy()
data_7[profit == profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [129]:
answers['8'] = '1478'
# +

In [130]:
data_8 = data.copy()
data_8[data_8.revenue > data_8.budget].imdb_id.value_counts().sum()

1478

Вариант 2.

In [131]:
count = 0
for i in range(0,len(data)): # проходим по строкам нашего файла от нулевой до последней
    if data.revenue[i] > data.budget[i]: # ставим условие: объем сборов больше объема бюджета
               count += 1 # если условие выполнено увеличивам счетчик на 1
count # итоговая сумма счетчик ана экран - это и есть ответ

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [132]:
answers['9'] = '599. The Dark Knight (tt0468569)'
# +

In [133]:
revenue_2008 = [] #создаем список для записи всех сборов 2008 г.
# проходим по строкам нашего файла и, если год = 2008 г., то добавляеем значение кассовых сборов в список выше
for i in range(0,len(data)):  
    if data.release_year[i] == 2008:
        revenue_2008.append(data.revenue[i]) 
# находим фильм, соответствующий максимальному сбору за 2008 г. 
data[data.revenue == max(revenue_2008)].original_title

599    The Dark Knight
Name: original_title, dtype: object

Вариант 2.

In [134]:
data_9 = data.copy() # копируем датафрейм в переменную для этого ответа
data_9 = data_9[data_9.release_year == 2008] # фильтр = 2008 год
data_9[data_9.revenue == data_9.revenue.max()].original_title # из них тот, у которого максимальные сборы

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [135]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
# +

In [136]:
profit_12_14 = [] # список для записи профита фильмов с 2012 по 2014 годы
# пройдемся по строкам файла и запишем profit для каждого фильма с 2012 по 2014 годы в заготовленный список
for i in range(0,len(data)):
    if 2012 <= data.release_year[i] <= 2014:
        profit_i = data['revenue'][i] - data['budget'][i]
        profit_12_14.append(profit_i)
data[profit == min(profit_12_14)].original_title # найдем минимальный profit за указанный период

1245    The Lone Ranger
Name: original_title, dtype: object

Вариант 2

In [137]:
data_10 = data.copy() 
data_10 = data_10[(data_10.release_year >= 2012) & (data_10.release_year <= 2014)] # фильтр по диапазону дат
data_10[data_10.profit == data_10.profit.min()].original_title # по таблице с необходимыми годами выбираем тот, что самый убыточный

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [138]:
answers['11'] = 'Drama'
#+

In [139]:
data_genres = data.genres.str.split('|') # создаем списки из жанров, которые хранятся в поле genres, для каждой строки
data_genres_s = data_genres.sum() # склеиваем все в один список
pd.Series(data_genres_s).value_counts().index[0] #считаем количество появлений для каждого слова в списке, выводим максимальный

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [140]:
answers['12'] = 'Drama'
#+

In [141]:
# выбиhаем те фильмы, где прибыль больше 0, т.е. фильм прибыльный
# считаем количество встреч того или иного жанра способом из прошлого шага
data_profit = data[profit > 0]
pd.Series(data_profit.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [142]:
answers['13'] = 'Peter Jackson'
#+

In [143]:
data_13 = data.copy()
#вызываем функцию из предобработки:
data_13 = fun_explode(df = data_13, col = 'director')
# Группируем таблицу по режиссерам, считая для каждого из них суммарный доход от фильмов. 
data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [144]:
answers['14'] = 'Robert Rodriguez'
#+

In [145]:
data_14 = data.copy()
data_14 = fun_explode(data_14, 'director')
# делаем срез: те строки, где содержится в тексет слово Action
data_14 = data_14[data_14.genres.str.contains('Action', na=False)]
# сколько раз встретился тот или иной режиссер, берем первого с индексом [0]
data_14.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [146]:
answers['15'] = 'Chris Hemsworth'
#+

In [147]:
data_15 = data.copy()

# Сначала выберем год:
data_15_2012 = data_15[data_15.release_year == 2012]
# Теперь среди этих фильмов выберем с наибольшим кассовым сбором
data_15_2012 = data_15_2012[data_15_2012.revenue == data_15_2012.revenue.max()] 
# весь список актеров на экран, один из них есть в вариантах ответа
print(*data_15_2012.cast.str.split('|'))

['Robert Downey Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 'Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [148]:
answers['16'] = 'Matt Damon'
#+

In [149]:
data_16 = data.copy()
data_16 = data_16[data.budget > data.budget.mean()] #высокобюджетные фильмы, т.е. бюджет выше среднего
data_16 = fun_explode(data_16, 'cast') # растягиваем
data_16.cast.value_counts().index[0] #считаем количество встреч каждого имени, выбираем первого с индексом [0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [150]:
answers['17'] = 'Action'
#+

In [151]:
data_17 = data.copy()
data_17 = data_17[data_17.cast.str.contains('Nicolas Cage')] # выбрали те строки, где есть Николас Кейдж
data_17 = fun_explode(data_17, 'genres')
# посчитали количество встреч того или иного жанра и берем первую строку - самое большое кол-во
data_17.genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [152]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
#+

In [153]:
# фильтр на фильмы от Paramount Pictures
data_paramount = data[data.production_companies.str.contains('Paramount Pictures')] 
# выбираем из них с минимальным profit
data_paramount_min = data_paramount[data_paramount.profit == data_paramount.profit.min()] 
data_paramount_min['original_title'] # название на экран

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [154]:
answers['19'] = '2015'
#+

In [155]:
# группируем по году, считаем сумму сбора для каждого года, сортируем по убыванию, выводим первый элемент с индексом "0"
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [156]:
answers['20'] = '2014'
#+

In [157]:
# делаем фильтр, только те строки, где есть Warner Bros, далее также, как и на предыдущем шаге
data_WB = data[data.production_companies.str.contains('Warner Bros')] 
data_WB.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [158]:
answers['21'] = 'Сентябрь'
#+

In [159]:
data_21 = data.copy()
# т.к. мы поменяли формат столбца 'release_date' и он стал формата "pandas._libs.tslibs.timestamps.Timestamp"
# с помощью метода 'month' и добавлением 'dt' считаем количество появлений того или иного месяца
data_21.release_date.dt.month.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [160]:
answers['22'] = '450'
#+

In [161]:
data_22 = data.copy()
# создаем переменные для удобства и ненагромаждения кода
filter_06 = data_22.release_date.dt.month == 6
filter_07 = data_22.release_date.dt.month == 7
filter_08 = data_22.release_date.dt.month == 8

data_22 = data_22[filter_06 | filter_07 | filter_08] # делаем срез по необходимым месяцам
data_22.imdb_id.value_counts().sum() # считаем кол-во фильмов суммарно для сезона "лето"

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [162]:
answers['23'] = 'Peter Jackson'
#+

In [163]:
data_23 = data.copy()
data_23 = fun_explode(data_23, 'director')
# фильтры для удобства, как в вопросе №22
filter_12 = data_23.release_date.dt.month == 12 # декабрь
filter_01 = data_23.release_date.dt.month == 1 # январь
filter_02 = data_23.release_date.dt.month == 2 # февраль

# реализуем фильтр и посчитаем наиболее часто встречающегося режиссера в эти месяца
data_23 = data_23[filter_12 | filter_01 | filter_02]
data_23.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [164]:
answers['24'] = 'Four By Two Productions'
#+

In [165]:
data_24 = data.copy()
data_24 = fun_explode(data_24, 'production_companies').reset_index(drop=True)
# добавим новый столбец в датафрейм с кол-вом символов в названии для каждого фильма
data_24['count_letter'] = data_24.original_title.apply(len)
# группируем по компаниям с подсчетом среднего показателя кол-ва символов в названии, 
# сортируем по убыванию и выбираем первый в списке с индексом 0
data_24.groupby(['production_companies'])['count_letter'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [166]:
answers['25'] = 'Midnight Picture Show'
#+

In [167]:
data_25 = data.copy()
data_25 = fun_explode(data_25, 'production_companies').reset_index(drop=True)
# добавим новый столбец в датафрейм с кол-вом слов в описании для каждого фильма
data_25['len_over'] = data_25.overview.str.split(' ').apply(len)
# группируем по компаниям с подсчетом среднего показателя кол-ва слов в описании, 
# сортируем по убыванию и выбираем первый в списке с индексом 0
data_25.groupby(['production_companies'])['len_over'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [168]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
#+

In [169]:
data_261 = data.copy()
# для столбца vote_average определим число - процентиль, 
# рейтинг фильмов выше такого числа и будет 1% лучших фильмов
perc_va = np.percentile(data_261['vote_average'], q = 99)
data_261[data_261['vote_average'] > perc_va].reset_index(drop=True).original_title

0                                        Inside Out
1                                              Room
2                                      Interstellar
3                           Guardians of the Galaxy
4                                The Imitation Game
5                                         Gone Girl
6                          The Grand Budapest Hotel
7                                         Inception
8                                   The Dark Knight
9                                       The Pianist
10    The Lord of the Rings: The Return of the King
11                          The Wolf of Wall Street
12                                 12 Years a Slave
13                                          Memento
Name: original_title, dtype: object

Вариант 2. То же самое, только функция quantile() вместо percentile().

In [170]:
data_262 = data.copy()
quant_va = np.quantile(data_262['vote_average'], q = 0.99)
data_262[data_262['vote_average'] > quant_va].reset_index(drop=True).original_title

0                                        Inside Out
1                                              Room
2                                      Interstellar
3                           Guardians of the Galaxy
4                                The Imitation Game
5                                         Gone Girl
6                          The Grand Budapest Hotel
7                                         Inception
8                                   The Dark Knight
9                                       The Pianist
10    The Lord of the Rings: The Return of the King
11                          The Wolf of Wall Street
12                                 12 Years a Slave
13                                          Memento
Name: original_title, dtype: object

Вариант 3. Ответ немного другой...

In [171]:
data_26 = data.copy()
count = round(len(data_26) / 100 * 1)
print(count,'фильмов входит в 1% от общего рейтинга')
print('Ниже список таких фильмов:')
# сортируем по полю 'vote_average' по убывающей 
# и показываем первые "count" строк - это и есть перечень топ 1% из общего датафрейма
data_26.sort_values(by='vote_average',ascending = False).reset_index(drop=True).head(count).original_title

19 фильмов входит в 1% от общего рейтинга
Ниже список таких фильмов:

0                                   The Dark Knight
1                                      Interstellar
2                                The Imitation Game
3                                        Inside Out
4                                              Room
5                           The Wolf of Wall Street
6                                         Gone Girl
7                                  12 Years a Slave
8                           Guardians of the Galaxy
9     The Lord of the Rings: The Return of the King
10                                          Memento
11                                        Inception
12                                      The Pianist
13                         The Grand Budapest Hotel
14                                              Her
15                                        Spotlight
16                                       Big Hero 6
17                           The Fault in Our Stars
18            The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [172]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
#+

In [16]:
data_27 = data.copy()
data_27 = data_27.cast.str.split('|') # получаем строки, каждая из которых - список актеров того или иного фильма
cast_comb = []
# пройдемся по data_27 и для каждой строки найдем все возможные пары, добавим их все в список cast_comb
for i in range(0,len(data_27)):
    cast_i = list(combinations(data_27[i],2))
    cast_comb += cast_i
# посчитаем количество встреч той или иной пары и отсортируем по убыванию
Counter(cast_comb).most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

Вариант 2. То же самое, только permutations вместо combinations. Мне кажется, такой вариант предпочтительнее. 
Это наглядно видно на паре ('Rupert Grint', 'Emma Watson').

In [10]:
data_272 = data.copy()
data_272 = data_272.cast.str.split('|')
cast_comb = []
for i in range(0,len(data_27)):
    cast_i = list(permutations(data_27[i],2))
    cast_comb += cast_i
Counter(cast_comb).most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Daniel Radcliffe'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Emma Watson', 'Daniel Radcliffe'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Owen Wilson', 'Ben Stiller'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [174]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [175]:
# и убедиться что ни чего не пропустил)
len(answers)

27